<div class="show-page">
  <!-- Notificação de sucesso com fundo amarelo -->
  <% if flash[:notice] %>
    <div id="flash-notice" class="alert" style="background-color: #fff3cd; color: #856404; position: fixed; top: 20px; right: 20px; z-index: 9999; padding: 15px; border: 1px solid #ffeeba; border-radius: 5px;">
      <%= flash[:notice] %>
    </div>
    <script>
      setTimeout(function() {
        var notice = document.getElementById('flash-notice');
        if (notice) {
          notice.style.display = 'none';
        }
      }, 3000);  // A notificação desaparecerá após 3 segundos
    </script>
  <% end %>

  <!-- Formulário para editar título -->
  <div class="header" style="display: flex; align-items: center; justify-content: space-between; padding-top: 10px;">
  <%= form_with model: @list, url: list_path(@list), method: :patch, local: true, id: "edit-list-name-form" do |form| %>
    <div class="edit-name" style="flex-grow: 1; margin-right: 10px; display: flex; align-items: center;">
      <%= form.text_field :name, value: @list.name, class: 'form-control', placeholder: 'Edit list name', id: 'list-name-field' %>
      <%= form.submit 'Edit', class: 'btn btn-primary btn-sm', style: 'margin-left: 10px;' %>
    </div>
  <% end %>

    <!-- Botão "Voltar" maior e com fundo cinza -->
    <%= link_to 'Back', lists_path, class: 'btn btn-outline-secondary', style: 'padding: 12px 30px; font-size: 16px; background-color: #6c757d; color: white; border-radius: 30px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;' %>
  </div>

  <div class="description">
    <h3>Description:</h3>
    <p><%= @list.description %></p>
  </div>

  <div class="items">
    <h3>Items:</h3>
    <ul>
      <% @list.items.each do |item| %>
        <li class="task-item">
          <div class="task-info">
            <span class="task-name"><%= item.name %></span>
            <% if item.due_date.present? %>
              <span class="task-due-date">(Due: <%= item.due_date %>)</span>
            <% end %>
            - Status: <%= item.status.capitalize %>
            <div class="item-actions">
              <%= button_to 'Change Status', toggle_status_list_item_path(@list, item), method: :patch, class: 'btn btn-warning' %>
              <%= button_to 'Destroy', list_item_path(@list, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h4>Add a new item:</h4>
  <%= form_with(model: [@list, Item.new], local: true) do |form| %>
    <div>
      <%= form.text_field :name, placeholder: "New Item" %>
    </div>
    <div>
      <%= form.date_field :due_date, placeholder: "Due Date" %>
    </div>
    <div>
      <%= form.submit "Add Item" %>
    </div>
  <% end %>
</div>
